In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
df = pd.read_csv('data2010-2011s1.csv', encoding = "ISO-8859-1")  #on a 8 colonnes
df.head  #permet de voir les première lignes du data set

<bound method NDFrame.head of        InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
245898    558637     22032         BOTANICAL LILY GREETING CARD        12
245899    558637     22028         PENNY FARTHING BIRTHDAY CARD        12
245900    558637     22033         BOTANICAL ROSE GREETING CARD        12
245901    558637     22029               SPACEBOY BIRTHDAY CARD        12
245902    558637     22024           RAINY LADIES BIRTHDAY CARD        12

            InvoiceDate  UnitPrice  CustomerID         Country
0        12/1/2010 8:26       2.55     17850.0  United Kingdom
1        12/1/2010 8:26       3.39     17850.0  United Kingdom
2        12/1/2010 8:26       2.75     17850.0  United Kingdom
3        12/1/2010 8:26       3.39     17850.0  United Kingdom
4        12/1/2010 8:26       3.39     17850.0  United Kingdom
...                 ...        ...         ...             ...
245898  6/30/2011 20:08       0.42     17891.0  United Kingdom
245899  6/30/2011 20:08       0.42     17891.0  United Kingdom
245900  6/30/2011 20:08       0.42     17891.0  United Kingdom
245901  6/30/2011 20:08       0.42     17891.0  United Kingdom
245902  6/30/2011 20:08       0.42     17891.0  United Kingdom

[245903 rows x 8 columns]>

In [2]:
df = df.drop_duplicates(['InvoiceNo','StockCode']) 
print (df)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
245898    558637     22032         BOTANICAL LILY GREETING CARD        12
245899    558637     22028         PENNY FARTHING BIRTHDAY CARD        12
245900    558637     22033         BOTANICAL ROSE GREETING CARD        12
245901    558637     22029               SPACEBOY BIRTHDAY CARD        12
245902    558637     22024           RAINY LADIES BIRTHDAY CARD        12

            InvoiceDate  UnitPrice  CustomerID         Country
0        12/1/2010 8:26       2.55     17850.0  United Kingdom
1        12/1/2010 8:26       3.39     17850.0  United Kingdom
2        12/1/2010 8:26       2.75     17850.0  United Kingdom
3        12/1/2010 8:26       3.39     17850.0  United Kingdom
4        12/1/2010 8:26       3.39     17850.0  United Kingdom
...                 ...        ...         ...             ...
245898  6/30/2011 20:08       0.42     17891.0  United Kingdom
245899  6/30/2011 20:08       0.42     17891.0  United Kingdom
245900  6/30/2011 20:08       0.42     17891.0  United Kingdom
245901  6/30/2011 20:08       0.42     17891.0  United Kingdom
245902  6/30/2011 20:08       0.42     17891.0  United Kingdom

[241965 rows x 8 columns]

In [3]:
df = df.drop(df[df['Quantity'] < 0].index)
print (df)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
245898    558637     22032         BOTANICAL LILY GREETING CARD        12
245899    558637     22028         PENNY FARTHING BIRTHDAY CARD        12
245900    558637     22033         BOTANICAL ROSE GREETING CARD        12
245901    558637     22029               SPACEBOY BIRTHDAY CARD        12
245902    558637     22024           RAINY LADIES BIRTHDAY CARD        12

            InvoiceDate  UnitPrice  CustomerID         Country
0        12/1/2010 8:26       2.55     17850.0  United Kingdom
1        12/1/2010 8:26       3.39     17850.0  United Kingdom
2        12/1/2010 8:26       2.75     17850.0  United Kingdom
3        12/1/2010 8:26       3.39     17850.0  United Kingdom
4        12/1/2010 8:26       3.39     17850.0  United Kingdom
...                 ...        ...         ...             ...
245898  6/30/2011 20:08       0.42     17891.0  United Kingdom
245899  6/30/2011 20:08       0.42     17891.0  United Kingdom
245900  6/30/2011 20:08       0.42     17891.0  United Kingdom
245901  6/30/2011 20:08       0.42     17891.0  United Kingdom
245902  6/30/2011 20:08       0.42     17891.0  United Kingdom

[236807 rows x 8 columns]

In [4]:
VS = ['M','POST', 'C2', 'DOT', 'BANK CHARGES', 'D', 'AMAZONFEE', 'S', 'gift_0001_10','gift_0001_20','gift_0001_30','gift_0001_40','gift_0001_50', 'PADS' ]
df = df.drop(df[df['StockCode'].isin(VS)].index) # suppriemr les vlaeurs au dessus 
print(df)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
245898    558637     22032         BOTANICAL LILY GREETING CARD        12
245899    558637     22028         PENNY FARTHING BIRTHDAY CARD        12
245900    558637     22033         BOTANICAL ROSE GREETING CARD        12
245901    558637     22029               SPACEBOY BIRTHDAY CARD        12
245902    558637     22024           RAINY LADIES BIRTHDAY CARD        12

            InvoiceDate  UnitPrice  CustomerID         Country
0        12/1/2010 8:26       2.55     17850.0  United Kingdom
1        12/1/2010 8:26       3.39     17850.0  United Kingdom
2        12/1/2010 8:26       2.75     17850.0  United Kingdom
3        12/1/2010 8:26       3.39     17850.0  United Kingdom
4        12/1/2010 8:26       3.39     17850.0  United Kingdom
...                 ...        ...         ...             ...
245898  6/30/2011 20:08       0.42     17891.0  United Kingdom
245899  6/30/2011 20:08       0.42     17891.0  United Kingdom
245900  6/30/2011 20:08       0.42     17891.0  United Kingdom
245901  6/30/2011 20:08       0.42     17891.0  United Kingdom
245902  6/30/2011 20:08       0.42     17891.0  United Kingdom

[235629 rows x 8 columns]

In [5]:
df[df['StockCode'].isin(VS)]  #vérifie si les valeurs sont toujours existant dans le fichier

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

In [6]:
df = df.rename(columns={'InvoiceNo': 'numFacture', 'StockCode': 'numProduit', 'Description': 'nomProduit', 'UnitPrice': 'PU', 'InvoiceDate': 'dateAchat', 'Country': 'pays'})

# The DataFrame now has the new column names
print(df)

       numFacture numProduit                           nomProduit  Quantity  \
0          536365     85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1          536365      71053                  WHITE METAL LANTERN         6
2          536365     84406B       CREAM CUPID HEARTS COAT HANGER         8
3          536365     84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4          536365     84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...           ...        ...                                  ...       ...
245898     558637      22032         BOTANICAL LILY GREETING CARD        12
245899     558637      22028         PENNY FARTHING BIRTHDAY CARD        12
245900     558637      22033         BOTANICAL ROSE GREETING CARD        12
245901     558637      22029               SPACEBOY BIRTHDAY CARD        12
245902     558637      22024           RAINY LADIES BIRTHDAY CARD        12

              dateAchat    PU  CustomerID            pays
0        12/1/2010 8:26  2.55     17850.0  United Kingdom
1        12/1/2010 8:26  3.39     17850.0  United Kingdom
2        12/1/2010 8:26  2.75     17850.0  United Kingdom
3        12/1/2010 8:26  3.39     17850.0  United Kingdom
4        12/1/2010 8:26  3.39     17850.0  United Kingdom
...                 ...   ...         ...             ...
245898  6/30/2011 20:08  0.42     17891.0  United Kingdom
245899  6/30/2011 20:08  0.42     17891.0  United Kingdom
245900  6/30/2011 20:08  0.42     17891.0  United Kingdom
245901  6/30/2011 20:08  0.42     17891.0  United Kingdom
245902  6/30/2011 20:08  0.42     17891.0  United Kingdom

[235629 rows x 8 columns]

In [8]:
DFfacture= df[['numFacture', 'numProduit', 'pays']]
print(DFfacture)

       numFacture numProduit            pays
0          536365     85123A  United Kingdom
1          536365      71053  United Kingdom
2          536365     84406B  United Kingdom
3          536365     84029G  United Kingdom
4          536365     84029E  United Kingdom
...           ...        ...             ...
245898     558637      22032  United Kingdom
245899     558637      22028  United Kingdom
245900     558637      22033  United Kingdom
245901     558637      22029  United Kingdom
245902     558637      22024  United Kingdom

[235629 rows x 3 columns]